.nav-container{
  width: 100%;
  background: #000030;

}
.nav-infos {
  padding: 1rem 0 1rem 0;
  color: white;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  /* width:80%; */
}